.home {
    width: 100%;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: black;
    color: white;
}

.introduction {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: none;
}

.introduction h2 {
    font-family: cursive;
    font-size: 30px;
    color: cadetblue;
    height: 40px;
}

.introduction .me {
    width: 40%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: flex-end;
}

.skills h1{
    font-size: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: center;
    margin-inline: 300px;

}
.front-end, .back-end, .tools{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.skills .list{
    list-style: none;
    width: 60%;
}

.list span {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .introduction h2 {
        font-size: 30px;
    }

    .introduction .me {
        margin: 10px;
        font-size: 22px;
        width: 80%;
    }

    .skills .front-end, .back-end, .tools {
        text-align: center;
        width: 100%;
        margin-inline: 60px;
    }

    .list {
        padding: 0;
    }
    
    .skills h2 {
        font-size: 28px;
    }
}